* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite; 
  overflow: hidden;
}

section {
  width: 600px;
  margin: 0 auto;
}

.ul__circle{
  display: flex;
  padding: 40px 20px;
  justify-content: center;
  background-color: #fff;
}

.circle {
  margin: 0 30px;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  list-style: none;
  cursor: pointer;
  transition: transform 1s;
}

.circle.large {
  transform: scale(30);
}


.div__color-code {
  padding: 50px 50px;
}

.span__question {
  background-color: darkblue;
  padding: 20px 30px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
}

.js__score {
  padding-left: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.modal.show {
  display: block;
}

.span__modal-text {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 2rem;
}

.div__score {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}

.close {
  display: block;
  padding: 10px;
  width: 120px;
  height: 30px;
  border: 1px solid #fff;
  text-align: center;
}
